*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.header{
    padding: 15px 0;
}

.navigation {
    list-style: none;
    padding: 0;
    margin:0px;
}

.navigation-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #939699;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.button{
    padding: 10px 20px;
    background: #4592FF;
    border-radius: 20px;
    border:none;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button-icon, .button-price{
    margin-right: 10px;
}
.button-icon:last-child{
    margin-right: 0px;
    margin-left: 10px;
}

.slide{
    padding-top: 90px;
    padding-bottom: 110px;
    height: 568px;
}

.slide-1{
    background: #B4D1E0 url('/img/slide-img-1.png') no-repeat top right 40%;
}

.slide-2{
    background: #26b7ff url('/img/card\ image\ 1.png') no-repeat center right 40%;
}

.slide-3{
    background: #1d6488 url('/img/goods\ image\ 1.png') no-repeat center right 40%;
}

.label{
    background-color: #3DC47E;
    border-radius: 3px;
    padding: 5px 12px;
    color: white;
    font-size: 12px;
    line-height: 15px;
}

.slide-title{
    color: #262D33;
    margin-top:20px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    line-height: 70px;
    max-width: 350px;
}

.slide-description{
    font-size: 18px;
    line-height: 30px;
    color: #4B5157;
    max-width: 335px;
    margin-bottom: 40px;
}

.slider{
    position: relative;
}
.slider-nav{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 9;
}

.slide-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card{
    min-height: 370px;
    border-radius: 10px;
    padding-top: 60px;
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 80px;
}

.card-1{
    background: #DEDDDC url('/img/card\ image\ 1.png') no-repeat top right;
    background-size: cover;
}

.card-title{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    line-height: 30px;
    color: #262D33;
    max-width: 220px;
    margin: 0px;
}

.card-title.text-light{
    color:#fff;
}

.card-text.text-light{
    color:#fff;
}

.card-title.large{
    max-width: 420px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #262D33;
}

.card-text{
    font-size: 14px;
    line-height: 20px;
    max-width: 176px;
    color: #4B5157;
    margin-bottom: 25px;
}

.card-text.large{
    max-width: 320;
    color: #4B5157;
}

.card-2{
    background: url('/img/card\ image\ 2.png') no-repeat top right;
    background-size: cover;
}

.card-title-2{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    max-width: 252px;
    margin: 0px;
}

.card-text-2{
    font-size: 14px;
    line-height: 20px;
    max-width: 176px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.85;
    margin-bottom: 25px;
}

.card-3{
    padding-top: 35px;
    background: #CCD5E6 url('/img/card\ image\ 3.png') no-repeat top right;
    background-size: contain right 10%;
    padding-bottom: 60px;
}

.card-4{
    padding-top: 35px;
    padding-left:25px;
    background: #FF4F52 url('/img/card\ image\ 4.png') no-repeat top right;
}

.card-price{
    color:#fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
}

.section-title{
    font-size: 25px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    color: #262D33;
}

.more{
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #262D33;
    padding: 10px;
}


.goods-card{
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 35px;
}

.goods-card .label{
    position: absolute;
    left:18px;
    top: 18px;
}

.goods-image{
}

.goods-title{
    padding-top: 15px;
    padding-bottom: 5px;
    color: #262D33;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
}

.goods-description{
    padding-bottom: 20px;
    color: #4B5157;
    font-size: 14px;
    line-height: 20px;
}

.goods-price{
    color: #262D33;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 35px;
    font-weight: 900;
}

.footer{
    background: #8F79D4;
    padding-top: 45px;
    padding-bottom: 40px;
    color: #FFFFFF;
}

.footer-menu{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.footer-menu-item:not(:last-child) {
    margin-right: 40px;
}

.footer-text{
    color: #E7D9FF;
    font-size: 14px;
    line-height: 20px;
}

.footer-menu-link{
    color:#FFFFFF;
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
}

.footer-social{

}

.social-link:not(:last-child){
    text-decoration: none;
    margin-right: 16px;
}

.footer-line{
    opacity: 0.5;
}

.top-link{
    text-decoration: none;
    color:#FFFFFF;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
}

.top-link-text{
    margin-right: 15px;
}

.payment-logo:not(:last-child){
    vertical-align: middle;
    margin-right: 25px;
}

@media (max-width: 1200px){
    .slide-1{
        background-size: cover;        
    }
    
    .card-3{
        background-size: cover;
    }
}

@media(max-width:992px){
    .slider-nav{
        display: none;
    }
}

@media(max-width: 576px){
    .slide-title{
        font-size: 36px;
        line-height: 1.4;
        margin-bottom: 0px;
    }
    .card{
        background-position: left top;
    }
    .card-4{
        background-position: right top;
    }
    .card{
        padding: 30px;
        min-height: 300px;
    }

}